.recipe{
    border-radius: 10px;
    box-shadow: dimgray;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: rgb(182, 171, 171);
    align-items: center;
    min-width:  40%;
}

.image{
    border-radius: 50%;
    width: 100px ;
    height: 100px ;
}